
h1,h2,h3
{
color: #029DD0;
font-family: arial, 'sans serif'; 
text-align:center;
}

p,table,li,address
{
font-family: arial, 'sans serif'; 
border-spacing: 1px
}

th
{
background-color:#029DD0;
font-size: 100%;
color: #FFFFFF
}

a
{
float:left;
text-decoration:none;
color:#FFFFFF;
background-color:#029DD0;
padding:0.2em 0.6em;
}
a:hover {background-color:#8080C0;}
li {display:inline;}
